<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTeam</servlet-name>
        <servlet-class>servlets.AddTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTeam</servlet-name>
        <servlet-class>servlets.DeleteTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTeam</servlet-name>
        <servlet-class>servlets.ShowTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlayer</servlet-name>
        <servlet-class>servlets.DeletePlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlayer</servlet-name>
        <servlet-class>servlets.AddPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGame</servlet-name>
        <servlet-class>servlets.DeleteGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGame</servlet-name>
        <servlet-class>servlets.AddGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyGame</servlet-name>
        <servlet-class>servlets.ModifyGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameDetails</servlet-name>
        <servlet-class>servlets.GameDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGoal</servlet-name>
        <servlet-class>servlets.AddGoal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPenalty</servlet-name>
        <servlet-class>servlets.AddPenalty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTeam</servlet-name>
        <url-pattern>/AddTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTeam</servlet-name>
        <url-pattern>/DeleteTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTeam</servlet-name>
        <url-pattern>/ShowTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlayer</servlet-name>
        <url-pattern>/DeletePlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlayer</servlet-name>
        <url-pattern>/AddPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGame</servlet-name>
        <url-pattern>/DeleteGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGame</servlet-name>
        <url-pattern>/AddGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyGame</servlet-name>
        <url-pattern>/ModifyGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameDetails</servlet-name>
        <url-pattern>/GameDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGoal</servlet-name>
        <url-pattern>/AddGoal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPenalty</servlet-name>
        <url-pattern>/AddPenalty</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
